# Unix-style newlines
# Newline ending every file
# UTF-8 by default
# 2 space indents for all file types by default
# Trim whitespace from end of lines
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
